.input-error {
  color: var(--error-color);
  height: 2em;
  margin: 0;
  font-weight: 400;
  font-size: 0.7em;
}

.input-error.fade-in {
  box-sizing: border-box;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(50%);
  }
}
