.select-component {
  display: block;
  width: 100%;
}

.select-container {
  position: relative;
  width: 100%;
  border: 2px solid var(--main-dark-color);
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--bloc-background-color);
}

.select-container--open {
  outline: 2px solid var(--main-theme-color);
  border: none;
}

.select-container:focus-visible {
  outline: 2px solid var(--main-theme-color) !important;
  border: none !important;
}

.select-selected {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chevron {
  transition: transform 300ms ease-in;
  height: 15px;
}

.chevron--open {
  transform: rotate(-180deg);
}

.select-options {
  position: absolute;
  width: 95%;
  margin: auto;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 0;
  overflow-y: hidden;
  background-color: var(--light-background-color);
  box-shadow: black 0 0 5px;
  z-index: 1000;
  transform-origin: top;
  transition:
    max-height 500ms,
    transform 500ms;
}

.select-options--open {
  max-height: 200px;
  transition:
    max-height 500ms,
    transform 500ms;
  overflow-y: auto;
}

.select-options--close {
  max-height: 0;
  transition:
    max-height 500ms,
    transform 500ms;
  overflow-y: hidden;
}

.select-option {
  padding: 10px;
  cursor: pointer;
}

.select-option:last-child {
  border-bottom: none;
}

.select-option:hover {
  background-color: var(--main-light-color);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 500;
}

.select-option.highlighted {
  background-color: var(--main-light-color);
}
