.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.address {
  margin: 1em 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  @media (min-width: 768px) {
    width: 70vw;
  }
  @media (min-width: 1024px) {
    width: 60vw;
  }
  @media (min-width: 1400px) {
    width: 40vw;
  }
}

.save-button {
  border: 1px solid var(--main-dark-color);
  background-color: var(--main-light-color);
  cursor: pointer;
  margin: 3em auto;
  width: 50%;
  font-size: 1em;

  &:disabled {
    cursor: not-allowed;
    background-color: lightgrey;
  }
}
.input-error {
  margin: 0;
  text-align: center;
}

a {
  display: block;
  text-align: center;
}
