#table {
  width: 95%;
  margin: 2em auto;

  .table-header {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    border: 2px solid var(--main-dark-color);
    font-weight: bold;
  }

  .table-label {
    color: var(--main-dark-color);
    font-weight: bold;
  }

  .table-pagination {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    font-weight: bold;
    border: 2px solid var(--main-dark-color);
  }

  .table-row {
    box-sizing: border-box;
    width: 100px;
    hyphens: auto; // break-word if neeeded
    word-wrap: break-word;
  }
}
